pydantic==2.10.6
chroma-hnswlib==0.7.6
chromadb==0.5.5
markdownify
IPython
autogen-ext[openai]
sentence_transformers

huggingface_hub==0.25.2
google-genai
vertexai
autogen
ag2[retrievechat]
ag2[gemini]
autogen-agentchat
autogen-agentchat[gemini]
autogen-agentchat[retrievechat]
unstructured[docx]
gradio
langchain